<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
        <h1>{{title}}</h1>
        <div class="mdl-layout__tab-panel is-active">
            <section class="section--center mdl-grid">
                <p>
                    Myriad's style guide is a design language and implementation guide intended to drive ease and consistency when developing Myriad's applications. 
                    It is based on Google's <a href="https://material.io/guidelines/">Material Design Specification</a>. 
                    It is implemented using a customized version of <a href="https://getmdl.io"> Material Design Lite</a>.
                </p>
            </section>
        </div>
    </div>
</div>