/* You can add global styles to this file, and also import other style files */
*{
    font-family: 'Noto', sans-serif;
}
h1{
    font-family: 'Muli', sans-serif;
}
.mdl-layout-title{
    font-family: 'Muli', sans-serif;
    font-size:24px;
}